body {
    margin: 0;
    padding: 0;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #011324;
    
}

/* NAVBAR SECTION */

.links-container > ul > li {
    list-style-type: none;
    flex-basis: 100px;
    padding: 10px;
    
}

.links-container > ul > li > a {
    color: white;
    text-decoration: none;
}

.links-container {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.logo-container {
    display: flex;
    width: auto;
}


h1 {
    color: white;
    display: inline;
    padding: 0;
    margin: 0;

}

#navbar ul {
    display: flex;
    gap: 30px;

}

#navbar ul > li > img {
    

}

#navbar {
    background-color: #011324;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

/* HERO SECTION */

#sobreMi {
    background-color: #011324;
    padding: 30px;
}


.container-me {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.image-container > img {
    border-radius: 50%;
    border: #fff 10px dotted;
    margin-bottom: 30px;
}

.me-header, .me-parag {
    text-align: center;
    color: #fff;
}


/* SKILLS SECTION */


#skills {
    margin: 0;
    padding: 0;
}

.container-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.header-skills {
    grid-column: 1;
    grid-row: 1;
}


h2, h3 {
    color: #fff;
    text-decoration: none;
}

.tecnologiasClass li {
    color: #fff;
    list-style: none;
}

.softSkillsClass li {
    color: #fff;
    list-style: none;
}

.otrasSkillsClass li {
    color: #fff;
    list-style: none;
}


/* PROYECTOS SECTION */


/* CONTACTAME SECTION */

.card-contact-left h4 a {
    color:#879caf;
    text-decoration: none;  
}

.card-contact-left h4 a:hover {
    color: #fff;
    text-decoration: underline;
}

.card-contact-left h4 a:visited{
    color: #f7f585;
}

.card-contact-right {
    color: #fff;
}



/* FOOTER */

footer {
    background-color: #011324;
    color: #fff;
    text-align: center;
    padding: 20px;
}
    